<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900">
    Lenny
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    Short term, flexible car insurance for the sharing generation
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/750x750bb_0.jpeg" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/750x750bb_1.jpeg" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/750x750bb_2.jpeg" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/750x750bb_3.jpeg" />
    </div>
  </div>

  <div class="flex text-lg space-x-12">
    <p class="text-justify font-light flex-1">
      Download Lenny for pay as you go car insurance to borrow someone else’s car. Easily buy temporary or short-term
      policies, straight from your phone. Get car insurance by the hour, day, week or month with policies from 1 hour to
      28 days.
      <br />
      <br />
      Lenny’s perfect for borrowing and insuring a car from a friend or parent and getting on the road in less than
      five minutes.
    </p>
    <p class="text-justify font-light flex-1">
      Lenny insurance is great for younger drivers as well as those with a lifetime of experience on the roads. Lenny
      can currently offer cover to people aged 19-70 with a full GB licence.
      <br />
      <br />
      Whether you’re a student back home for the holidays, a weekend adventurer looking to escape the city or someone
      with a boot-load of stuff to take to the tip, Lenny means you can borrow a car and get yourself from a to b.
    </p>
  </div>


  <div class="flex flex-col items-center justify-center w-full">
    <img src="{{ site.baseurl }}/assets/images/lenny--image--2.gif" class="" />
    <img src="{{ site.baseurl }}/assets/images/lenny--image--7.jpg" class="" />
    <img src="{{ site.baseurl }}/assets/images/lenny--image--6.jpg" class="" />
  </div>

  <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-3">
        <li>
          <span class="font-semibold">Instant cover:</span> You can get on the road in no time with a super simple
          sign-up process and an instant short-term car insurance quote.
        </li>
        <li>
          <span class="font-semibold">Total flexibility:</span> Hourly car insurance, daily car insurance, weekly car
          insurance, you’re in the driver's seat. And
          if you fancy turning a weekend into a long one our pay as you go insurance means you can extend on the fly in
          just a few
          taps.
        </li>
        <li>
          <span class="font-semibold">Cover ahead of time:</span> Need short term insurance but not right now? No sweat,
          Lenny allows you to book your temp
          car cover up to 28 days in advance. Getting pre-approved means when the time comes, you can jump in the
          driver's seat
          and go!
        </li>
        <li>
          <span class="font-semibold">Comprehensive insurance policies:</span> windscreen cover, personal belongings
          cover, courtesy car for the owner and
          emergency medical treatment. So if anything goes wrong you know you’re covered.
        </li>
        <li>
          <span class="font-semibold">Owner peace of mind:</span> rest assured when you borrow a car from a friend or
          family member, the owner’s no-claims bonus is
          totally unaffected by any claim. Lenny policies are underwritten by a Standard & Poor’s A+ stable rated
          insurer with 1.5
          million policyholders in the UK alone.
        </li>
      </ul>
    </div>
  </div>

</div>