<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900">
    Togethera
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    A privacy, family focussed social network for Web and Mobile
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="http://mattdempsey.com/i/work-togethera-screenshot-1.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="http://mattdempsey.com/i/work-togethera-screenshot-2.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="http://mattdempsey.com/i/work-togethera-screenshot-3.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="http://mattdempsey.com/i/work-togethera-screenshot-4.png" />
    </div>
  </div>

  <div class="flex text-lg space-x-12">
    <p class="text-justify font-light flex-1">
      Togethera, a private social network for families. It was designed to be simple enough for kids, grandparents and
      your least tech savvy relatives to create a timeline of cherished family memories. Togethera brought thousands of
      families around the world closer together before shutting down in 2016.
    </p>
    <p class="text-justify font-light flex-1">
      I was responsible for building the Android app
      <span class="text-sm font-bold">(Native Java)</span> as well as helping out with the Web app <span
        class="text-sm font-bold">(AngularJS)</span>
      and Backend services <span class="text-sm font-bold">(Python)</span>. Apple and
      Google featured our apps dozens of times over the years, but the best recognition came from the reviews and
      messages
      of thanks from families whose lives Togethera touched.
    </p>
  </div>

  <div class="flex justify-center">
    <iframe src="https://www.youtube.com/embed/0SMphMe7jNM?wmode=opaque&amp;enablejsapi=1" height="480" width="854"
      scrolling="no" frameborder="0" allowfullscreen="" class="shadow-xl">
    </iframe>
  </div>

  <div class="flex justify-center">
    <p class="text-xl italic font-extralight w-2/3 text-center">
      "Our promise to non tech-savvy users like my grandmother was that all they needed to do was swipe up and down on a
      single interface to keep up to date with family news - they’d never need to leave the timeline."
    </p>
  </div>

  <div class="flex justify-center">
    <iframe src="https://www.youtube.com/embed/6GM9zLlX-58?wmode=opaque&amp;enablejsapi=1" height="480" width="854"
      scrolling="no" frameborder="0" allowfullscreen="" class="shadow-xl">
    </iframe>
  </div>

  <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-1">
        <li>
          Share photos, videos, emoji reactions and comments
        </li>
        <li>
          Share across multiple groups in a single tap
        </li>
        <li>
          Full offline support, including content creation
        </li>
        <li>
          Low-res and Full High-res uploads
        </li>
      </ul>
      <ul class="list-disc space-y-1">
        <li>
          Premium membership with enhanced functionality
        </li>
        <li>
          Realtime in-app updates
        </li>
        <li>
          Featured by <a target="_blank" class="underline font-bold"
            href="https://techcrunch.com/2014/02/07/clever-family-photo-sharing-startup-togethera-raises-seed-releases-on-android/">Techcrunch</a>,
          <a target="_blank" class="underline font-bold"
            href="http://www.wired.it/internet/social-network/2015/04/14/togethera-il-social-network-a-uso-privato/">Wired</a>,
          <a target="_blank" class="underline font-bold"
            href="http://www.gizmodo.co.uk/2014/07/the-weeks-best-android-iphone-ipad-and-windows-phone-apps-47/">Gizmodo</a>
          and more
        </li>
        <li class="font-bold">
          Featured by Apple and Google in over 100 countries
        </li>
      </ul>
    </div>
  </div>

</div>