<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900">
    Upshot
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    A fun, realtime, automatic photo & video sharing Mobile app for events and group nights out
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-1.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-2.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-3.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-4.png" />
    </div>
  </div>

  <div class="flex text-lg space-x-12">
    <p class="text-justify font-light flex-1">
      When it became clear Togethera wouldn’t reach the critical mass required to continue, our team decided to utilize
      the technology which we had developed for Togethera to build Upshot.
      <br />
      <br />
      Upshot solved the problem of groups of friends hassling each other the day after a get-together for the photos.
      Your group switched live-streaming on at the party and closed the app.
    </p>

    <p class="text-justify font-light flex-1">
      All the photos &amp; videos taken with your normal camera app were then automatically synced with the group in the
      background. This was an experience similar to Snapchat but for groups.
      <br />
      <br />
      As with Togethera, I was responsible for building the Android mobile app. The Apple Editorial Team
      featured Upshot under 'Editor's choice' globally at launch.
    </p>
  </div>

  <div class="flex flex-row items-center space-x-14 w-full">
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <img src="{{ site.baseurl }}/assets/images/work-upshot-featured.png" class="shadow-xl" />
      </div>
    </div>
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <iframe class="shadow-xl" src="https://www.youtube.com/embed/UgDT4SURC3k" frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <iframe class="shadow-xl" src="https://www.youtube.com/embed/5PDW9fUlZZw" frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-1">
        <li>
          Automatic background detection and uploading of new photos and videos taken using any camera app
        </li>
        <li>
          Time based activation to only capture events and nights out
        </li>
        <li>
          Auto content deletion after preset time (7 days)
        </li>
      </ul>
      <ul class="list-disc space-y-1">
        <li>
          Hundreds of thousands photos; shared, liked and remixed
        </li>
        <li>
          Featured by <a target="_blank" class="underline font-bold mr-1 ml-1"
            href="https://techcrunch.com/2016/01/14/like-snapchat-for-events-upshot-is-an-app-for-those-wild-nights-out/">Techcrunch</a>
        </li>
        <li>
          Featured multiple times by Apple &amp; Google alongside apps such as <a target="_blank"
            class="underline font-bold mr-1 ml-1"
            href="https://twitter.com/Upshot_app/status/690577934759890944">Instagram</a>
          and <a target="_blank" class="underline font-bold mr-1 ml-1"
            href="https://twitter.com/Upshot_app/status/734771078225072128">Snapchat</a>
        </li>
      </ul>
    </div>
  </div>

</div>