<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900">
    Collective Benefits
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    Insurance and benefits for independent work
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-1.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-2.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-3.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-upshot-screenshot-4.png" />
    </div>
  </div>

  <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-1">
        <li>
          <span class="font-semibold">Protect</span> your workers, <span class="font-semibold">Increase</span>
          engagement, <span class="font-semibold">Combat</span> churn
        </li>
        <li>
          Sick pay & accident insurance, Health insurance and services, Benefits and rewards, Liability insurance
        </li>
        <li>
          3
        </li>
      </ul>
      <ul class="list-disc space-y-1">
        <li>
          4
        </li>
        <li>
          5
        </li>
        <li>
          Featured by <a target="_blank" class="underline font-bold mr-1 ml-1" href="">Financial Times</a>,
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">City A.M.</a>,
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">TechCrunch</a>,
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">The Independent</a> and
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">Forbes</a>
        </li>
      </ul>
    </div>
  </div>

</div>