<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900 -mb-10">
    Collective Benefits
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    Insurance and benefits for independent work
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 border-2 border-gray-900 mb-12 shadow-xl transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/collective_1.jpg" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 border-2 border-gray-900 mb-12 shadow-xl transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/collective_3.jpg" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 border-2 border-gray-900 mb-12 shadow-xl transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/collective_4.jpg" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 border-2 border-gray-900 mb-12 shadow-xl transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/collective_7.jpg" />
    </div>
  </div>

  <!-- <div class="flex text-lg space-x-12">
    <p class="text-justify font-light flex-1">
      Making independent work, work for everyone.
      <br />
      <br />
      A unique set of products designed to cover life's ups and downs, sorrows and surprises. Whether that's a sick day
      or a spa day. We've got it covered.
    </p>

    <p class="text-justify font-light flex-1">
      Collective supports the companies and individuals that propel our economy forward.
      <br />
      <br />
      We've built a platform for companies serious about taking care of their people. Making it seamless and simple for
      you to stay in control.
    </p>
  </div> -->

  <div class="flex flex-col items-center justify-center w-full border-2 border-gray-900 mb-12 shadow-xl">
    <img src="{{ site.baseurl }}/assets/images/collective_desktop.png" class="" />
  </div>

  <div class="flex flex-col items-center justify-center w-full">
    <img src="{{ site.baseurl }}/assets/images/collective_wide_1.png" class="" />
    <img src="{{ site.baseurl }}/assets/images/collective_wide_2.png" class="" />
    <img src="{{ site.baseurl }}/assets/images/collective_wide_4.png" class="" />
  </div>

  <!-- <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-1">
        <li>
          <span class="font-semibold">Protect</span> your workers, <span class="font-semibold">Increase</span>
          engagement, <span class="font-semibold">Combat</span> churn
        </li>
        <li>
          Sick pay & accident insurance, Health insurance and services, Benefits and rewards, Liability insurance
        </li>
        <li>
          3
        </li>
      </ul>
      <ul class="list-disc space-y-1">
        <li>
          4
        </li>
        <li>
          5
        </li>
        <li>
          Featured by <a target="_blank" class="underline font-bold mr-1 ml-1" href="">Financial Times</a>,
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">City A.M.</a>,
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">TechCrunch</a>,
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">The Independent</a> and
          <a target="_blank" class="underline font-bold mr-1 ml-1" href="">Forbes</a>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="flex flex-col items-center w-auto font-light text-lg mt-24">
    <h3 class="text-2xl text-gray-400 font-light">As featured by</h3>
    <img src="{{ site.baseurl }}/assets/images/collective_featured.png" />
  </div>

</div>