<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900 -mb-10">
    Compare the Market
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    The Meerkat app is where you’ll find all the best things that Compare the Market has to offer.
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/meerkat_4.webp" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/meerkat_1.webp" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/meerkat_3.webp" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/meerkat_5.webp" />
    </div>
  </div>

  <div class="flex flex-col justify-center">
    <img class="bg-gray-200 shadow-md" src="{{ site.baseurl }}/assets/images/meerkat_bills.png" />
    <img class="bg-gray-200 shadow-md" src="{{ site.baseurl }}/assets/images/meerkat_rewards.webp" />
  </div>

  <!-- <div class="flex text-lg space-x-12">
    <p class="text-justify font-light flex-1">
      If you’re a rewards member, it’s where you’ll find your 50% off takeaway pizzas, 2 for 1 on food when you eat out
      and 2 for 1 cinema tickets. Plus, it’s your first port of call to quickly compare everything from insurance to
      household bills
      <br />
      <br />
      B.
    </p>

    <p class="text-justify font-light flex-1">
      C.
      <br />
      <br />
      D.
    </p>
  </div> -->
  <!-- 
  <div class="flex flex-row items-center space-x-14 w-full pl-28 pr-28">
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <img src="{{ site.baseurl }}/assets/images/work-upshot-featured.png" class="shadow-xl" />
      </div>
    </div>
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <iframe class="shadow-xl" src="https://www.youtube.com/embed/UgDT4SURC3k" frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <iframe class="shadow-xl" src="https://www.youtube.com/embed/5PDW9fUlZZw" frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div> -->

  <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-1 flex-1">
        <li>
          Over 6 million users and almost 2 million <span class="font-semibold">Monthly Active Users</span>
        </li>
        <li>
          I lead and grew the Mobile function to over 20 engineers in 2 countries (UK & Belarus)
        </li>
        <li>
          The mobile app was marketted regularly with dozens of commercials across TV and Cinema in the UK
        </li>
      </ul>
      <ul class="list-disc space-y-1 flex-1">
        <li>
          The mobile app grew to house many products including <span class="font-semibold">Customer Rewards</span>,
          <span class="font-semibold">Insurance Comparison</span>, <span class="font-semibold">Bills & Savings</span>,
          <span class="font-semibold">Open Banking</span>
        </li>
        <li>
          We released native mobile apps for Android and iOS, across Mobile Phones & Tablets
        </li>
        <li>
          I was responsible for <span class="font-semibold">People, Tech, Architecture & Strategy</span> across Mobile
        </li>
      </ul>
    </div>
  </div>

</div>


<!-- Auto Sergei https://youtu.be/uV98JEAdWJ0 -->
<!-- Auto Sergei https://youtu.be/YyJnbOsu9As -->
<!-- Meerkat Meals https://youtu.be/RTwWIe3rQnQ -->
<!-- Meerkat Meals https://youtu.be/3bHj_bD-G_g -->
<!-- Meerkat Meals https://youtu.be/bmhgTlcZjv0 -->

<!-- Meerkat Movies -->
<!-- Meerkat Movies -->