<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900 -mb-10">
    Penny
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    Serious, smart savings are only a swipe away
  </h2>

  <div class="flex text-lg space-x-12">
    <p class="text-justify font-light flex-1">
      In late 2016 the Togethera/Upshot team explored an idea we called Penny. The vision was to build an automated
      personal assistant to manage your household bills - insurance, energy, broadband, TV & more.
    </p>

    <p class="text-justify font-light flex-1">
      I learned a lot about insurance, regulation and the FinTech space in general. We designed and prototyped some
      interesting ideas, but ultimately decided not to pursue the idea further.
    </p>
  </div>

  <div class="flex flex-row items-center space-x-14 w-full pl-28 pr-28">
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <iframe width="315" height="559" src="https://www.youtube.com/embed/sLF_TUUhuiQ" class="shadow-xl">
        </iframe>
      </div>
      <h1 class="text-xl text-gray-900 mt-6 mb-1 ml-3">
        App prototype
      </h1>
      <h3 class="text-md font-extralight text-gray-900 mt-2 ml-3 mr-3">
        We built this early prototype used to communicate our vision to investors.
      </h3>
    </div>
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <img class="shadow-xl" src="{{ site.baseurl }}/assets/images/work-penny-1.png" />
      </div>
      <h1 class="text-xl text-gray-900 mt-6 mb-1 ml-3">
        Genius recommendations
      </h1>
      <h3 class="text-md font-extralight text-gray-900 mt-2 ml-3 mr-3">
        A stack of cards with easily actionable recommendations to save you money.
      </h3>
    </div>
    <div class="w-full">
      <div class="aspect-w-9 aspect-h-16">
        <img class="shadow-xl" src="{{ site.baseurl }}/assets/images/work-penny-2.png" />
      </div>
      <h1 class="text-xl text-gray-900 mt-6 mb-1 ml-3">
        Advisor
      </h1>
      <h3 class="text-md font-extralight text-gray-900 mt-2 ml-3 mr-3">
        Receive advice and recommendations from an expert in insurance or finances.
      </h3>
    </div>
  </div>

</div>