<div class="flex flex-col p-8 items-center space-y-16 mb-12">
  <h1 class="text-6xl font-extralight text-gray-900">
    Togethera
  </h1>

  <h2 class="text-2xl text-gray-400 font-light">
    A privacy, family focussed social network for Web and Mobile
  </h2>

  <div class="flex flex-row space-x-16 justify-center">
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-togethera-screenshot-1.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-togethera-screenshot-2.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-togethera-screenshot-3.png" />
    </div>
    <div class="w-full">
      <img class="bg-gray-200 shadow-md transform hover:scale-110"
        src="{{ site.baseurl }}/assets/images/work-togethera-screenshot-4.png" />
    </div>
  </div>

  <div class="flex flex-col w-auto font-light text-lg">
    <h1 class="text-3xl text-gray-900 mt-6 mb-6 font-semibold">
      Key Features
    </h1>
    <div class="flex flex-row space-x-12">
      <ul class="list-disc space-y-1">
        <li>
          Share photos, videos, emoji reactions and comments
        </li>
        <li>
          Share across multiple groups in a single tap
        </li>
        <li>
          Full offline support, including content creation
        </li>
        <li>
          Low-res and Full High-res uploads
        </li>
      </ul>
      <ul class="list-disc space-y-1">
        <li>
          Premium membership with enhanced functionality
        </li>
        <li>
          Realtime in-app updates
        </li>
        <li>
          Featured by <a target="_blank" class="underline font-bold"
            href="https://techcrunch.com/2014/02/07/clever-family-photo-sharing-startup-togethera-raises-seed-releases-on-android/">Techcrunch</a>,
          <a target="_blank" class="underline font-bold"
            href="http://www.wired.it/internet/social-network/2015/04/14/togethera-il-social-network-a-uso-privato/">Wired</a>,
          <a target="_blank" class="underline font-bold"
            href="http://www.gizmodo.co.uk/2014/07/the-weeks-best-android-iphone-ipad-and-windows-phone-apps-47/">Gizmodo</a>
          and more
        </li>
        <li class="font-bold">
          Featured by Apple and Google in over 100 countries
        </li>
      </ul>
    </div>
  </div>

</div>